html {
    background-color: #000000;
    background-image: repeating-conic-gradient(
        from 0deg at 50% 50%,
        rgb(5 2 44 / 0.2) 0%,
        rgb(41 38 38 / 0.2) 0.13%,
        rgb(0 65 255 / 0.2) 0.25%
    );
}

body {
    color: #1fd400;
    font-family: "Palatino Linotype", "Book Antiqua", serif;
    font-size: 16.5px;
}

html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff000;
    font-family: Georgia, serif;
}

a {
    color: #8089ff;
}

header {
    height: 20vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100%;
    background:
    radial-gradient(ellipse at 50% 50%,
    rgb(214 31 0 / 0.5) 0%,
    rgb(39 16 16 / 0.5) 50%,
    rgb(48 2 12 / 0.5) 100%
    );
    background-size: cover;
    background-repeat: no-repeat;
}
