html {
    background-color: #000000;
    background-image: repeating-conic-gradient(
        from 0deg at 50% 50%,
        rgb(5 2 44 / 0.2) 0%,
        rgb(41 38 38 / 0.2) 0.13%,
        rgb(0 65 255 / 0.2) 0.25%
    );
}

body {
    color: #1fd400;
    font-family: "Palatino Linotype", "Book Antiqua", serif;
    font-size: 16.5px;
}

html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff000;
    font-family: Georgia, serif;
}

h1 {
    font-size: 3rem;
    word-spacing: 0.6em;
    letter-spacing: 0.3em;
    text-stroke: 0.05em rgba(189, 168, 0, 1);
    -webkit-text-stroke: 0.05em rgba(189, 168, 0, 1);
    text-shadow:
    0px 0px 2em rgba(233, 19, 19, 1),
    0.075em 0.075em 0px rgba(75, 0, 0, 0.75),
    -0.075em -0.075em 0px rgba(25, 0, 25, 0.5);
    animation-name: glowing-effect;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes glowing-effect {
    from {
        filter: drop-shadow(0px 0px 0.05em rgb(253, 250, 114));
    }

    to {
        filter: drop-shadow(0px 0px 0.25em rgb(253, 250, 114));
    }
}

a {
    color: #8089ff;
}

header {
    height: 25vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background:
    radial-gradient(ellipse at 50% 50%,
    rgb(214 31 0 / 0.5) 0%,
    rgb(39 16 16 / 0.5) 50%,
    rgb(48 2 12 / 0.5) 100%
    );
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1em;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: black;
}

header nav {
    flex: 1;
    height: 8vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

header nav a {
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em;
    border-radius: 25%;
    border-color: rgba(128, 137, 255, 0.5);
    border-width: 0.25em;
    border-style: ridge;
}

header nav a:hover {
    font-size: 24px;
    color: rgba(0, 249, 255, 1);
    background-color: rgba(30, 30, 30, 1);
    border-color: rgba(0, 249, 255, 1);
    box-shadow: 0px 0px 0.5em 0px rgba(0, 249, 255, 1) inset;
    filter: drop-shadow(0px 0px 0.5em rgba(0, 249, 255, 1));
    text-stroke: 0.5em rgba(1, 1, 122, 0.75);
}

@media (max-width: 600px) {
    header {
        max-width: 600px;
        margin: 0;
        padding: 0;
    }

    h1 {
        font-size: 18px;
        word-spacing: auto;
        letter-spacing: auto;
        margin-top: 36px;
    }
    
    header nav a {
        font-size: 16px;
        padding: 0.5em;
    }

    header nav {
        height: auto;
        width: 80vw;
    }
}
