body {
    color: #1fd400;
    font-family: "Palatino Linotype", "Book Antiqua", serif;
    background: #111111;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff000;
    font-family: Georgia, serif;
}

a {
    color: #4653ff;
}
