html {
    background-color: #000000;
    background-image: repeating-conic-gradient(
        from 0deg at 50% 50%,
        rgb(5 2 44 / 0.2) 0%,
        rgb(41 38 38 / 0.2) 0.13%,
        rgb(0 65 255 / 0.2) 0.25%
    );
}

body {
    color: #7EFF00;
    font-family: "Palatino Linotype", "Book Antiqua", serif;
    font-size: 16.5px;
    height: 100vh;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff000;
    font-family: Georgia, serif;
    text-stroke: 0.05em rgba(189, 168, 0, 1);
    -webkit-text-stroke: 0.05em rgba(189, 168, 0, 1);
    text-shadow:
    0px 0px 2em rgba(233, 19, 19, 1),
    0.075em 0.075em 0px rgba(75, 0, 0, 0.75),
    -0.075em -0.075em 0px rgba(25, 0, 25, 0.5);
}

button {
    color: #fff000;
    font-size: 18px;
    background: #222222;
    box-sizing: border-box;
    padding: 0.25em;
    font-weight: bold;
    text-stroke: 0.05em rgba(189, 168, 0, 1);
    -webkit-text-stroke: 0.05em rgba(189, 168, 0, 1);
    text-shadow:
    0px 0px 2em rgba(233, 19, 19, 1),
    0.075em 0.075em 0px rgba(75, 0, 0, 0.75),
    -0.075em -0.075em 0px rgba(25, 0, 25, 0.5);
    border-style: ridge;
    border-color: silver;
    border-width: 0.2em;
    border-radius: 25%;
}

button:hover {
    color: #CCFF00;
    font-size: 20px;
    background: black;
    box-sizing: border-box;
    padding: 0.5em;
    font-weight: bold;
    text-stroke: 0.05em rgba(189, 168, 0, 1);
    -webkit-text-stroke: 0.05em rgba(189, 168, 0, 1);
    text-shadow:
    0px 0px 2em rgba(233, 19, 19, 1),
    0.075em 0.075em 0px rgba(75, 0, 0, 0.75),
    -0.075em -0.075em 0px rgba(25, 0, 25, 0.5);
    border-style: ridge;
    border-color: silver;
    border-width: 0.3em;
    box-shadow: 0px 0px 108px 33px rgba(191,191,191,0.15) inset;
    -webkit-box-shadow: 0px 0px 108px 33px rgba(191,191,191,0.15) inset;
    -moz-box-shadow: 0px 0px 108px 33px rgba(191,191,191,0.15) inset;
}

p, label {
    filter: drop-shadow(0px 0px 0.5em rgb(126, 255, 0));
}

a {
    filter: drop-shadow(0px 0px 0.5em rgba(0, 249, 255, 0.25));
}

h1 {
    font-size: 3rem;
    word-spacing: 0.6em;
    letter-spacing: 0.3em;
    animation-name: glowing-effect;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes glowing-effect {
    from {
        filter: drop-shadow(0px 0px 0.05em rgb(253, 250, 114));
    }

    to {
        filter: drop-shadow(0px 0px 0.25em rgb(253, 250, 114));
    }
}

a {
    color: #8089ff;
}

header {
    height: 25vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background:
    radial-gradient(ellipse at 50% 50%,
    rgb(214 31 0 / 0.5) 0%,
    rgb(39 16 16 / 0.5) 50%,
    rgb(48 2 12 / 0.5) 100%
    );
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 0;
    padding-left: 0;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: black;
}

header nav {
    flex: 1;
    height: 8vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

header nav a {
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em;
    border-radius: 25%;
    border-color: rgba(128, 137, 255, 0.5);
    border-width: 0.25em;
    border-style: ridge;
}

header nav a:hover {
    font-size: 24px;
    color: rgba(0, 249, 255, 1);
    background-color: rgba(30, 30, 30, 1);
    border-color: rgba(0, 249, 255, 1);
    box-shadow: 0px 0px 0.5em 0px rgba(0, 249, 255, 1) inset;
    filter: drop-shadow(0px 0px 0.5em rgba(0, 249, 255, 1));
    text-stroke: 0.5em rgba(1, 1, 122, 0.75);
}

@media (max-width: 600px) {
    header {
        max-width: 600px;
        margin: 0;
        padding: 0;
    }

    h1 {
        font-size: 18px;
        word-spacing: auto;
        letter-spacing: auto;
        margin-top: 36px;
    }
    
    header nav a {
        font-size: 16px;
        padding: 0.5em;
    }

    header nav {
        height: auto;
        width: 80vw;
    }
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 17.5vh;
    width: 100%;
    background-color: #43124e;
    opacity: 0.8;
    background-image:
    radial-gradient(circle at center center, #000000, #43124e);
    background-image:
    radial-gradient(circle at center center, #000000, #43124e),
    repeating-radial-gradient(circle at center center, #000000, 
    #000000, 10px,
    transparent 20px, transparent 10px);
    background-blend-mode: multiply;
    background-size: 1px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

#policies-container {
    display: flex;
    flex-direction: column;
}

#privacy-link {
    margin-top: 1.75%;
}

footer a:hover {
    color: #CCFF00;
}

@media (max-width: 600px) {
    footer a {
        font-size: 15px;
    }

    .not-mobile {
        display: none;
    }

    #copyright-text {
        margin-top: 35%;
    }

    #footer-nav {
        position: relative;
        max-height: 10vh;
        box-sizing: border-box;
    }

    #footer-nav p {
        margin-top: -0.45em;
    }

    #cookie-paragraph {
        margin-top: -0.02em;
    } 
}

main {
    position: absolute;
    top: 28vh;
    bottom: 17.5vh;
    left: 0;
    right: 0;
    width: 100vw;
    min-height: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-page-border {
    display: flex;
    flex-direction: column;
    height: 36.5vh;
    width: 51.5vw;
    justify-content: center;
    align-items: center;
    /*clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%,
    32% 100%, 6% 78%, 0% 43%, 17% 12%);*/
    background-image: url("../images/silver-border.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation-name: /*open-page*/border-from-quiz-to-login;
    animation-duration: 1.5s;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

#login-page {
    position: relative;
    height: 35vh;
    width: 50vw;
    /*flex: 1;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    background-image: url("../images/classical-background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%,
    32% 100%, 6% 78%, 0% 43%, 17% 12%);*/
    animation-name: /*open-page*/from-quiz-to-login;
    animation-duration: 1.5s;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes open-page {

    from {
        clip-path: polygon(51% 53%, 51% 53%, 51% 53%, 51% 53%, 51% 53%,
        51% 53%, 51% 53%, 51% 53%, 51% 53%);
    }

    to {
        clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%,
        32% 100%, 6% 78%, 0% 43%, 17% 12%);
    }
}

@keyframes border-from-quiz-to-login {

    from {    
        height: 100%;
        width: 100vw;
        clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 79%, 100% 100%,
        0 100%, 0 80%, 0% 43%, 0 0);
    }

    to {
        height: 36.5vh;
        width: 51.5vw;
        clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%,
        32% 100%, 6% 78%, 0% 43%, 17% 12%);
    }
}

@keyframes from-quiz-to-login {

    from {
        height: 98%;
        width: 98vw;
        clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 79%, 100% 100%,
        0 100%, 0 80%, 0% 43%, 0 0);
    }

    to {
        height: 35vh;
        width: 50vw;
        clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%,
        32% 100%, 6% 78%, 0% 43%, 17% 12%);
    }
}

#quiz-background {
    visibility: /*hidden*/visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation-name: fade-out-login-background;
    animation-duration: 1.5s;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.25em;
    margin: 0;
}

#login-page input[type="text"],
#login-page input[type="password"] {
    width: 65%;
    height: 1.5em;
    background: #222;
    color: #7EFF00;
    border: 2px solid #fff000;
    border-radius: 0.7em;
    font-size: 1.2em;
    padding: 0.6em 1em;
    box-shadow: 0 0 10px #60ff3f44 inset;
    caret-color: #fff000;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
}

#login-page input[type="text"]:focus,
#login-page input[type="password"]:focus {
    border-color: #7EFF00;
    box-shadow: 0 0 0 2px #7EFF0099;
}

#quiz-page-border {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/silver-border.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation-name: open-quiz-border-from-login-page;
    animation-duration: 1.5s;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

#quiz-page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /*justify-content: space-around;*/
    background-image: url("../images/quiz-background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation-name: open-quiz-from-login-page;
    animation-duration: 1.5s;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes open-quiz-border-from-login-page {
    from {
        height: 36.5vh;
        width: 51.5vw;
        clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%,
        32% 100%, 6% 78%, 0% 43%, 17% 12%);
    }

    to {
        height: 100%;
        width: 100vw;
        clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 79%, 100% 100%,
        0 100%, 0 80%, 0% 43%, 0 0);
    }
}

@keyframes open-quiz-from-login-page {
    from {
        height: 35vh;
        width: 50vw;
        clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%,
        32% 100%, 6% 78%, 0% 43%, 17% 12%);
    }

    to {
        height: 98%;
        width: 98vw;
        clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 79%, 100% 100%,
        0 100%, 0 80%, 0% 43%, 0 0);
    }
}

#login-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation-name: fade-out-login-background;
    animation-duration: 1.5s;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes fade-out-login-background {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#quiz-area {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.5);
}

#leaderboard-page {
    display: none;
}

@media (max-width: 600px) {
    main {
        top: 25vh;
    }

    #login-page-border {
        height: 50.5vh;
        width: 64.5vw;
    }

    #login-page {
        height: 48vh;
        width: 62vw;
    }

    @keyframes border-from-quiz-to-login {
        from {
            height: 100%;
            width: 100vw;
            clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 79%,
            100% 100%, 0 100%, 0 80%, 0% 43%, 0 0);
        }

        to {
            height: 50.5vh;
            width: 64.5vw;
            clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%,
            68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
        }
    }

    @keyframes from-quiz-to-login {

        from {
            height: 98%;
            width: 98vw;
            clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 79%,
            100% 100%, 0 100%, 0 80%, 0% 43%, 0 0);
        }
        
        to {
            height: 48vh;
            width: 62vw;
            clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%,
            68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
        }
    }
}
