html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: #1fd400;
    font-family: "Palatino Linotype", "Book Antiqua", serif;
    background-color: #000000;
    background-image: repeating-conic-gradient(
    from 0deg at 50% 50%,
    rgb(5 2 44 / 0.2) 0%,
    rgb(41 38 38 / 0.2) 0.13%,
    rgb(0 65 255 / 0.2) 0.25%,
    rgb(0 65 255 / 0.2) 0.25%);
    background-size: cover;
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff000;
    font-family: Georgia, serif;
}

a {
    color: #4653ff;
}
